.header {
  margin-bottom: 68px;
  align-items: center;
}

.header__logo {
  width: 98px;
  font-size: 30px;
  font-weight: bold;
  color: #95e1d3;
  position: absolute;
  left: -600px;
  font-family: 'Montserrat', sans-serif;
  cursor: default;

  &:hover {
    animation: logo-swing 1s linear 1;
  }
}

@keyframes logo-swing {
  0% {
    transform: rotateX(0);
    /* transform-origin: top; */
  }
  50% {
    transform: rotateX(180deg);
    /* transform-origin: top; */
  }
  100% {
    transform: rotateX(180deg);
    /* transform-origin: top; */
  }
}

.header-nav {
  display: flex;
  list-style: none;
  gap: 55px;
  margin-left: 632px;
  align-items: center;
  position: relative;
  padding-top: 50px;
}

.header-nav__link {
  text-decoration: none;
  color: #95e1d3;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  animation: carpet 1s linear 1;

  &:hover {
    color: #f38181;
    transition: ease 0.3s;
    transform: scale(1.3);
  }

  &:hover::after {
    content: '';
    width: 100%;
    height: 3px;
    background-color: #f38181;
    position: absolute;
    top: 25px;
    transform: translateX(-100%);
    transition: ease 0.3s;
  }
}
